 .inline-block {
     vertical-align: top;
    }
   

 .nav {
        overflow: hidden;
        background-color: #333;
      }

      .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
      }



 h1 {
    position: static;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 10px;
    text-align: center;
    letter-spacing: 0.2;
    color: black;
}
 p {
    text-align: center;
    width: 300px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
}
 button {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: normal;
    text-align: center;
    display: inline-block;
    border:1px solid black
}
 
 body {
    background-color: rgb(207, 122, 42);
}



  
















